html {
  scrollbar-width: none;
}
body {
  background-color: $black;
  color: $main;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

button {
  border: none;
  text-decoration: none;
  margin: 0;
  background: none;
  cursor: pointer;

  @media (max-width: 768px) {
    border-radius: 10px;
    background-color: rgba($black, 0.5);
  }
}
