@font-face {
  font-family: Maragsa;
  src: url("../../fonts/Maragsa.otf");
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../../fonts/Helvetica-Neue-Condensed-Bold_22500.ttf");
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

html {
  font-size: 16px;
}

.title,
.location,
.menu,
.instagram,
.model-info-wrapper,
a {
  font-family: "Helvetica Neue";
}

h2 {
  font-size: 3rem;
}

p {
  font-family: "Roboto", sans-serif;
}

a {
  font-size: 5rem;
}
.img-link {
  font-size: 0px;
}
.menu {
  font-size: 1.5rem;
}
.information {
  font-size: 1rem;
}

.info-label,
.info-value {
  font-size: 1.5rem;
}
