@font-face {
  font-family: Maragsa;
  src: url("../../fonts/Maragsa.otf");
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../../fonts/Helvetica-Neue-Condensed-Bold_22500.ttf");
}

html {
  font-size: 16px;
}

.title,
.location,
.menu,
.instagram,
a {
  font-family: "Helvetica Neue";
}

a {
  font-size: 5rem;
}
.img-link {
  font-size: 0px;
}
.menu {
  font-size: 1.5rem;
}
.information {
  font-size: 1rem;
}
