@font-face {
  font-family: Maragsa;
  src: url("../../fonts/Maragsa.otf");
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../../fonts/Helvetica-Neue-Condensed-Bold_22500.ttf");
}

.title {
  font-family: "Helvetica Neue";
}

.location {
  font-family: "Helvetica Neue";
}
