$main: #f0d8bb;
$white: #ffffff;
$black: #11120f;
$gold: #bd9855;
$darkgold: darken($gold, 10%);

$navbar-height: 7rem;

//breakpoints
$phone: 576px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;
