main {
  .container {
    flex-grow: 1;
    margin: 0 auto;
    padding: 0 32px;
    position: relative;
    width: auto;
    height: 100%;
    .gallery {
      margin-top: 4rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem 1rem;
      align-items: center;
      @media (max-width: $tablet) {
        grid-template-columns: 1fr;
      }
      .image-container {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        .thumbnail {
          overflow: hidden;
          display: flex;
          margin-bottom: 10px;
          .img-link {
            img {
              display: block;
              transition: transform 0.5s cubic-bezier(0.43, 0.13, 0.23, 0.96);
              max-width: 524px;
              max-height: 650px;
              width: 100%;
              &:hover {
                cursor: pointer;
                transform: scale(1.1);
                opacity: 1;
              }
            }
          }
        }
        .information {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-around;
          text-transform: uppercase;
          .location {
            :last-child {
              margin-left: 15px;
            }
          }
        }
      }
    }
  }
}
