.home-page {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "title-left title-left" "title-right title-right";
  overflow: hidden;
  padding: 0 5rem;
  .title-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    &.left {
      justify-content: flex-start;
      grid-area: title-left;
    }
    &.right {
      justify-content: flex-end;
      grid-area: title-right;
    }
    h1 {
      height: 100%;
      display: flex;
      align-items: center;
      text-shadow: -4px 0 $gold, 0 1px $gold, 1px 0 $gold, 0 -1px $gold;
      font-size: 20rem;
    }
  }
  .image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    img {
      display: block;
      position: absolute;
      top: 20%;
      right: 0;
      height: 100%;
    }
  }
  .locations-wrapper {
    overflow: hidden;
    width: 30%;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 5rem;
    transform: translateY(-55%);
    display: flex;
    justify-content: space-between;
    span {
      font-family: "Helvetica Neue";
      font-size: 2rem;
      color: $gold;
    }
  }
  .dots-wrapper {
    position: absolute;
    right: 0;
    top: 0;
    width: 4rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .dot-outline {
      font-size: 1.25rem;
      margin-bottom: 8px;
      color: $gold;
      &:last-of-type {
        margin-bottom: 0;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}
