.model-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  .lightbox-wrapper {
    position: relative;
    .lightbox {
      .close-button {
        position: absolute;
        top: 1rem;
        left: 1rem;
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        :first-child {
          background-color: $main;
          transform: rotate(45deg);
        }
        :last-child {
          background-color: $main;
          transform: rotate(-45deg);
        }
        span {
          border-radius: 100vw;
          position: absolute;
          width: 48px;
          height: 5px;
        }
      }
      border: 1px solid $gold;
      padding: 1.5rem;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10000000;
      width: 100vw;
      height: 100vh;
      background-color: rgba(1, 1, 1, 0.85);
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        max-height: 100%;
        max-width: 100vw;
      }
    }
  }
  .title-container {
    margin: 0 auto;
    padding: 0 32px;
    position: relative;
    width: 100vw;
    height: calc(50vh - #{$navbar-height});
    display: grid;
    grid-template-areas: ". instagram ." ". title .";
    grid-template-rows: 0.5fr 1fr;
    grid-template-columns: minmax(0, 1fr) minmax(0, max-content) minmax(0, 1fr);
    align-items: top;
    justify-content: space-evenly;
    @media (max-width: $desktop) {
      padding: 0 1rem;
      grid-template-areas: ". instagram ." "title title title";
      height: calc(30vh - #{$navbar-height});
    }
    .title-info-container {
      display: flex;
      width: 100%;
      align-items: flex-end;
      justify-content: flex-start;
      grid-area: instagram;
      .location {
        :nth-child(2) {
          margin-left: 28px;
        }
      }
      .instagram {
        @media (max-width: $desktop) {
          display: none;
        }
      }
    }
    .name-container {
      grid-area: title;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      .first-name {
        margin-right: 2rem;
      }
      span {
        display: inline-block;
        position: relative;
        text-shadow: -4px 0 $gold, 0 1px $gold, 1px 0 $gold, 0 -1px $gold;
        @media (max-width: 768px) {
          text-shadow: -2px 0 $gold, 0 1px $gold, 1px 0 $gold, 0 -1px $gold;
        }
      }
    }
  }
  .big-image-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    :hover {
      cursor: pointer;
    }
    img {
      position: absolute;
      width: 100%;
    }
  }
  .model-info-wrapper {
    margin: 1rem 0;
    .model-info-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 15vw;
      @media (max-width: 768px) {
        margin: 0 1.5rem;
      }
      .paragraph-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        .h2-wrapper {
          padding: 1rem;
          width: 100%;
          grid-column: 1 / -1;
          display: flex;
          justify-content: flex-start;
        }
        .p-wrapper {
          padding: 1rem;
          grid-column: 1 / -1;
          @media (max-width: 768px) {
            width: 100%;
            grid-column: 1 / -1;
          }
          p {
            text-align: justify;
            line-height: 28px;
            font-weight: 400;
          }
        }
      }
      .model-details {
        width: 100%;
        display: flex;
        flex-direction: column;
        @media (max-width: 768px) {
          width: 100%;
        }
        .info-row {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          justify-content: space-between;
          align-items: center;
          margin: 0.5rem 0;
          padding: 0 10px;
          .info-label {
            display: flex;
            justify-content: flex-start;
            grid-column: 1;
          }
          .golden-line {
            grid-column: 2;
            height: 2px;
            background-color: $gold;
          }
          .info-value {
            grid-column: 3;
            display: flex;
            justify-content: flex-end;
          }
        }
      }
    }
  }
}
