.navbar {
  padding: 0 32px;
  position: -webkit-sticky;
  z-index: 200;
  position: sticky;
  top: 0;
  background-color: $main;
  border-bottom: 1px solid $black;
  margin-bottom: -1px;
  .navbar-container {
    height: $navbar-height;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    .logo {
      a {
        text-decoration: none;
        color: $black;
        white-space: nowrap;

        &:hover {
          background-color: $black;
          color: $main;
        }
      }
    }
    .menu {
      height: 77px;
      width: 77px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      border: 1px solid $black;

      &:hover {
        cursor: cell;
        background-color: $black;
        color: $main;
      }
    }
  }
}
