.navbar {
  width: 100vw;
  padding: 0 2rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 200;
  background-color: $black;
  border-bottom: 1px solid $gold;
  margin-bottom: -1px;
  .navbar-container {
    height: $navbar-height;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      a {
        padding: 4px;
        text-decoration: none;
        color: $gold;
        white-space: nowrap;

        &:hover {
          background-color: $gold;
          color: $black;
        }
      }
    }
    .navbar-menu {
      color: $gold;
      height: 5rem;
      width: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      border: 1px solid $gold;
      &:hover {
        cursor: cell;
        background-color: $gold;
        color: $black;
      }
    }
  }
}
